<h1>Meus pedidos</h1>
<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Tipo de evento</th>
      <th>Data do evento</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.orders.each do |order| %>
      <tr>
        <td><%= link_to order.code, order_path(order) %></td>
        <td><%= order.event_type.name %></td>
        <td><%= order.date.strftime("%d/%m/%Y") %></td>
        <td><%= I18n.t("activerecord.attributes.order.statuses.#{Order.statuses.key(order.status)}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>